@font-face {
    font-family: 'norsebold';
    src: url('/font/norse-bold-webfont.woff2') format('woff2'),
         url('/font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* My css */
:root {
  font-family: Arial, Helvetica, sans-serif;
  --secondary-color: rgb(89,109,72);
}

.base-container {
  display: flex;
}

.background-container {
  min-width: 350px;
  width: 500px;
  max-height: 100vh;
  position: relative;
  flex: 1 1 auto;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-container > div {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  justify-content: center;
  top: 100px;
}

.logo {
  width: 5em;
}

.logo-text {
  color: white;
  font-size: 5em;
  font-family: 'norsebold';
}

.photo-credit {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

.container {
  padding: min(40px, 5vw);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3 1 auto;
}

.hero-text {
  margin-bottom: min(50px, 10vh);
}

.hero-text > p {
  font-weight: bold;
}

.hero-text > P:first-of-type {
  margin-bottom: min(20px, 3vh);
}

.inputs {
  margin-left: max(-40px, -5vw);
  padding: min(40px, 5vw);
  padding-top: min(10px, 2vw);
  padding-bottom: min(25px, 4vw);
  box-shadow: gray 2px 2px 3px;
  width: calc(100% + min(80px, 10vw));
  margin-bottom: min(40px, 8vh);
}

input {
  width: clamp(200px, 25vw, 350px);
  border-radius: 5px;
  position: relative;
}

span {
  display: none;
}

input[type="password"].invalid {
  border: 1px solid red;
}

span.error {
  display: block;
  color: red;
  font-size: 0.8em;
}

.input-row {
  display: flex;
  gap: max(30px, 8vw);
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-row:last-of-type {
  margin-bottom: 0px;
}

.input-row > div {
  display: flex;
  flex-direction: column;
}

.input-row > div > label {
  font-size: 0.70em;
  letter-spacing: 2px;
}

button[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  width: clamp(130px, 15vw, 180px);
  height: 40px;
  border-radius: 8px;
  margin-bottom: min(20px, 4vh);
}

form > div:last-of-type {
  display: flex;
  gap: 10px;
}

.log-in {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
